./directives-start/node_modules
./firstproj/node_modules
./foodreceipes/node_modules
./forms-reactive-assignment-start/node_modules
./forms-reactive-start/node_modules
./forms-td-assignment-start/node_modules
./forms-td-start/node_modules
./http-01-start/node_modules
./obs-01-start/node_modules
./pipes-start/node_modules
./routing-start/node_modules
./secondProj/node_modules
./services-assignment-start/node_modules
./services-start/node_modules


./directives-start/package-lock.json
./firstproj/package-lock.json
./foodreceipes/package-lock.json
./forms-reactive-assignment-start/package-lock.json
./forms-reactive-start/package-lock.json
./forms-td-assignment-start/package-lock.json
./forms-td-start/package-lock.json
./http-01-start/package-lock.json
./obs-01-start/package-lock.json
./pipes-start/package-lock.json
./routing-start/package-lock.json
./secondProj/package-lock.json
./services-assignment-start/package-lock.json
./services-start/package-lock.json